.mainContainer {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .mainContainer {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 990px) {

    /* For tablets: */
    .mainContainer {
        display: flex;
        flex-direction: column;
    }
}